html {
    background-color: #5EDAD2;
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif
}

p {
    color : blueviolet;
    background-color: #ffffff;
    padding: 3px 10px;
    border: 1px solid black;
}

h1 {
    font-size: 80px;
    padding: 20px 0;
    color: #D346EC;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    margin: 0;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F1E752;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

#heading {
    color: blue;
}

.popular {
    border-style: dotted;
    border-color: #e61010;
    border-width: 4px;
}